/*
 $$$$$$\   $$$$$$\  $$\        $$$$$$\  $$$$$$$\   $$$$$$\  $$$$$$$\   $$$$$$\  $$$$$$$\   $$$$$$\  $$$$$$$\  $$$$$$$$\  $$$$$$\  
$$  __$$\ $$  __$$\ $$ |      $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  _____|$$  __$$\ 
$$ /  \__|$$ /  $$ |$$ |      $$ /  $$ |$$ |  $$ |$$ /  $$ |$$ |  $$ |$$ /  $$ |$$ |  $$ |$$ /  $$ |$$ |  $$ |$$ |      $$ /  \__|
$$ |      $$ |  $$ |$$ |      $$$$$$$$ |$$$$$$$\ |$$ |  $$ |$$$$$$$  |$$$$$$$$ |$$ |  $$ |$$ |  $$ |$$$$$$$  |$$$$$\    \$$$$$$\  
$$ |      $$ |  $$ |$$ |      $$  __$$ |$$  __$$\ $$ |  $$ |$$  __$$< $$  __$$ |$$ |  $$ |$$ |  $$ |$$  __$$< $$  __|    \____$$\ 
$$ |  $$\ $$ |  $$ |$$ |      $$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$\   $$ |
\$$$$$$  | $$$$$$  |$$$$$$$$\ $$ |  $$ |$$$$$$$  | $$$$$$  |$$ |  $$ |$$ |  $$ |$$$$$$$  | $$$$$$  |$$ |  $$ |$$$$$$$$\ \$$$$$$  |
 \______/  \______/ \________|\__|  \__|\_______/  \______/ \__|  \__|\__|  \__|\_______/  \______/ \__|  \__|\________| \______/ 
*/


.tableColaborator {
    border: 1px solid var(--third-white);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    font-family: var(--Nunito);
    color: var(--primary-black);
}

.titlesTable {
    font-weight: bold;
    font-size: 1.125em;
    line-height: 1.5625em;
    border-bottom: 1px solid var(--third-white);
    display: flex;
}


th,td {
    padding: 20px 30px;
}

td {
    text-align: center;
    width: 100%;
}

th{
    width: 100%;
}

tr{
    display: flex;
}

tr:hover td {
    background-color: var(--third-gray);
    transition: .5s;
}

.editButton {
    background-color: var(--button-color);
    color: var(--primary-white);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.875em;
    line-height: 1.1875em;
    padding: 5px 24px;
    text-decoration: none;
}

tr td:first-child  {
    text-align: left;
}