/*
$$\        $$$$$$\   $$$$$$\  $$$$$$\ $$\   $$\ 
$$ |      $$  __$$\ $$  __$$\ \_$$  _|$$$\  $$ |
$$ |      $$ /  $$ |$$ /  \__|  $$ |  $$$$\ $$ |
$$ |      $$ |  $$ |$$ |$$$$\   $$ |  $$ $$\$$ |
$$ |      $$ |  $$ |$$ |\_$$ |  $$ |  $$ \$$$$ |
$$ |      $$ |  $$ |$$ |  $$ |  $$ |  $$ |\$$$ |
$$$$$$$$\  $$$$$$  |\$$$$$$  |$$$$$$\ $$ | \$$ |
\________| \______/  \______/ \______|\__|  \__|
*/

/*
$$$$$$$$\  $$$$$$\  $$$$$$$\  $$\      $$\ 
$$  _____|$$  __$$\ $$  __$$\ $$$\    $$$ |
$$ |      $$ /  $$ |$$ |  $$ |$$$$\  $$$$ |
$$$$$\    $$ |  $$ |$$$$$$$  |$$\$$\$$ $$ |
$$  __|   $$ |  $$ |$$  __$$< $$ \$$$  $$ |
$$ |      $$ |  $$ |$$ |  $$ |$$ |\$  /$$ |
$$ |       $$$$$$  |$$ |  $$ |$$ | \_/ $$ |
\__|       \______/ \__|  \__|\__|     \__|
*/

.mainLogin {
    display: flex;
}

.mainForm {
    width: 50%;
    height: 100vh;
    background-color: var(--primary-blue);
}

@media screen and (max-width: 750px){
    .mainLogin{
        flex-direction: column;       
    }
    .mainForm{
        width: 100%;
        height: 50vh;
    }
}

.titleLogin {
    font-family: var(--Nunito);
    font-size: 2.125em;
    color: var(--primary-white);
    margin-bottom: 20px;
}

.formLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.inputFormLogin {
    border:  1px solid var(--secundary-white);
    background: var(--primary-white);
    height: 32px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1em;
    line-height: 22px;
    width: 100%;
    max-width: 300px;
    padding: 0 10px;
    margin-bottom: 10px;
    color: var(--primary-black);
}

::placeholder {
    color: var(--secundary-white);
}

.buttonFormLogin {
    color: var(--primary-white);
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    font-family: var(--Nunito);
    font-size: 1em;
    font-weight: 900;
    line-height: 1.375em;
    width: 100%;
    max-width: 300px;
    text-transform: uppercase;
    margin-top: 10px;
}

.linkToRecover {
    margin-top: 10px;
    font-family: var(--Nunito);
    font-size: 0.75em;
    line-height: 1em;
    color: var(--primary-white);
    text-decoration-line: underline;
}