/*
 /$$      /$$ /$$ /$$$$$$$ 
| $$  /$ | $$|__/| $$__  $$
| $$ /$$$| $$ /$$| $$  \ $$
| $$/$$ $$ $$| $$| $$$$$$$/
| $$$$_  $$$$| $$| $$____/ 
| $$$/ \  $$$| $$| $$      
| $$/   \  $$| $$| $$      
|__/     \__/|__/|__/      
*/

.main-Wip{
    background-color: var(--third-blue);
    color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    font-family: var(--Nunito);
    width: 100%;
    position: fixed;
}

.main-Wip img{
    height: 130px;
}

.main-Wip p{
    font-size: 24px;
    line-height: 33px;
}

.main-Wip h1, .main-Wip img, .main-Wip p{
    margin: 10px 0;
}

.linkto{
    color: var(--primary-blue);
}