/*
 /$$$$$$$            /$$$$$$             /$$                        
| $$__  $$          |_  $$_/            | $$                        
| $$  \ $$  /$$$$$$$  | $$   /$$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
| $$$$$$$/ /$$_____/  | $$  | $$__  $$|_  $$_/   /$$__  $$ /$$__  $$
| $$____/ |  $$$$$$   | $$  | $$  \ $$  | $$    | $$  \__/| $$  \ $$
| $$       \____  $$  | $$  | $$  | $$  | $$ /$$| $$      | $$  | $$
| $$       /$$$$$$$/ /$$$$$$| $$  | $$  |  $$$$/| $$      |  $$$$$$/
|__/      |_______/ |______/|__/  |__/   \___/  |__/       \______/
*/

.psIntro{
    background-color: var(--primary-black);
    height: 100vh;
    width: 50%;
    display: flex;
    text-align: center;
    flex-flow: column;
}

@media screen and (max-width: 750px){
    .psIntro{
        width: 100%;      
        height: 50vh;
    }
}

.psIntro img{
    margin-top: 50px;
    height: 30px;
    width: 50px;
    position: absolute;
    transform: translate(-50%,-50%)
}

.psIntro h2{
    font-size: 2.13em;
    line-height: 46px; 
}
.psIntro p{
    font-size: 0.875em;
    line-height: 19px;
}
.textIntro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--Nunito);
    color: var(--primary-white)
}
.linktoWhite{
    font-size: 0.875em;
    margin-top: 20px;
    color: var(--primary-white)
}