/*
 /$$   /$$ /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$ 
| $$  | $$| $$_____/ /$$__  $$| $$__  $$| $$_____/| $$__  $$
| $$  | $$| $$      | $$  \ $$| $$  \ $$| $$      | $$  \ $$
| $$$$$$$$| $$$$$   | $$$$$$$$| $$  | $$| $$$$$   | $$$$$$$/
| $$__  $$| $$__/   | $$__  $$| $$  | $$| $$__/   | $$__  $$
| $$  | $$| $$      | $$  | $$| $$  | $$| $$      | $$  \ $$
| $$  | $$| $$$$$$$$| $$  | $$| $$$$$$$/| $$$$$$$$| $$  | $$
|__/  |__/|________/|__/  |__/|_______/ |________/|__/  |__/
*/


header {
    height: 50px;
    width: 100%;
    background-color: var(--primary-blue) ;
    display: flex;
    position: relative;
    z-index: 99;
}

.logo {
    height: 100%;
    display: flex;
    align-self: center;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    align-items: center;
}

.logo img{
    height: 24px;
    transition: .5s;
}
.logo:hover img{
    height: 26px;
    transition: .5s;
}

.area-header {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}

.sideArea{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

#sideArrow{
    cursor: pointer;
    display: none;
    transform: rotate(-90deg);
    height: 10px;
}

#check, #checkconfig{
    display: none;
}

.dropdown{
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    transition: 0.3s;
    transition-delay: 0.25s;
}

.config-area{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

.dropdown-content {
    background-color: var(--primary-black);
    color: var(--primary-white);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    transform: translate(0,50px);
    width: 196px;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}

.dropdown-content li{
    font-family: var(--Nunito);
    font-size: 0.875em;
    line-height: 19px;
    overflow: hidden;
    padding: 5px 16px;
}

.config{
    display: flex;
}

.config-area img{
    transition: .3s;
    height: fit-content;
}

#checkconfig:checked ~ label img{
    transform: rotate(90deg);
    transition: .5s;
}

#checkconfig:checked ~ label{
    background-color: var(--primary-black);
    transition: .3s;
}

#checkconfig:checked ~ .dropdown-content {
    height: fit-content;
    max-height: 200px;
}

.dropdown-content li:hover{
    background-color: #4F4F4F;
    transition: .3s;
}

.linktoHeader{
    color: var(--primary-white);
    text-decoration: none;
    z-index: 10;
}