/*
$$$$$$$$\  $$$$$$\  $$$$$$$\  $$\      $$\ 
$$  _____|$$  __$$\ $$  __$$\ $$$\    $$$ |
$$ |      $$ /  $$ |$$ |  $$ |$$$$\  $$$$ |
$$$$$\    $$ |  $$ |$$$$$$$  |$$\$$\$$ $$ |
$$  __|   $$ |  $$ |$$  __$$< $$ \$$$  $$ |
$$ |      $$ |  $$ |$$ |  $$ |$$ |\$  /$$ |
$$ |       $$$$$$  |$$ |  $$ |$$ | \_/ $$ |
\__|       \______/ \__|  \__|\__|     \__|                            
*/

.register {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: var(--Nunito);
    font-family: 1.25em;
    font-weight: bold;
    color: var(--primary-black);
    line-height: 2em;
    border: 1px solid var(--third-white);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 50%;
    height: 70%;
    padding: 25px;
}

.itensForm {
    height: 25%;
}

.itensForm label{
    display: block;
}

.itensForm input {
    border: 1px solid var(--third-white);
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    margin-top: 5px;
}

.submitButton {
    width: 25%;
    align-self: center;
    height: 50px;
    border: none;
    color: var(--primary-white);
    background-color: var(--primary-blue);
    margin: 15px auto;
    cursor: pointer;
}

.submitButton:hover {
    background-color: var(--secundary-blue);
    transition: .2s;
}