

/*
 $$$$$$\   $$$$$$\  $$$$$$$$\ $$$$$$$$\  $$$$$$\   $$$$$$\  $$$$$$$\  $$$$$$\  $$$$$$\  
$$  __$$\ $$  __$$\ \__$$  __|$$  _____|$$  __$$\ $$  __$$\ $$  __$$\ \_$$  _|$$  __$$\ 
$$ /  \__|$$ /  $$ |   $$ |   $$ |      $$ /  \__|$$ /  $$ |$$ |  $$ |  $$ |  $$ /  $$ |
$$ |      $$$$$$$$ |   $$ |   $$$$$\    $$ |$$$$\ $$ |  $$ |$$$$$$$  |  $$ |  $$$$$$$$ |
$$ |      $$  __$$ |   $$ |   $$  __|   $$ |\_$$ |$$ |  $$ |$$  __$$<   $$ |  $$  __$$ |
$$ |  $$\ $$ |  $$ |   $$ |   $$ |      $$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |  $$ |  $$ |
\$$$$$$  |$$ |  $$ |   $$ |   $$$$$$$$\ \$$$$$$  | $$$$$$  |$$ |  $$ |$$$$$$\ $$ |  $$ |
 \______/ \__|  \__|   \__|   \________| \______/  \______/ \__|  \__|\______|\__|  \__|                                                                                        
*/

.titleCategory {
    background-color:var(--primary-black) ;
    color: var(--primary-white);
    font-family: var(--Nunito);
    font-size: 1em;
    display: flex;
    line-height:  1.375em;
    border: none;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: 0;
    transition: 0.2s;
    white-space: nowrap;
}

.titleCategory:hover {
    background-color: var(--secundary-blue);
    color: var(--primary-white);
    transition: 0.2s;
}

.arrow{
    padding: 5px;
}

.itemAccordion {
    background-color: var(--primary-gray);
    font-family: var(--Nunito);
    color: var(--primary-white);
    padding: 7px 20px;
    font-size: 0.875em;
    transition: 0.2s;
    cursor: pointer;
    flex-wrap: nowrap;
    overflow: visible;
}

.category {
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}

.accordion {
    height: 100%;
    max-height: 200px;
    width: 100%;
    transition: .5s;
}

.itemAccordion:hover {
    background-color: var(--primary-black);
    transition: 0.2s;
}
