/*
/$$$$$$$$  /$$$$$$  /$$$$$$$  /$$      /$$
| $$_____/ /$$__  $$| $$__  $$| $$$    /$$$
| $$      | $$  \ $$| $$  \ $$| $$$$  /$$$$
| $$$$$   | $$  | $$| $$$$$$$/| $$ $$/$$ $$
| $$__/   | $$  | $$| $$__  $$| $$  $$$| $$
| $$      | $$  | $$| $$  \ $$| $$\  $ | $$
| $$      |  $$$$$$/| $$  | $$| $$ \/  | $$
|__/       \______/ |__/  |__/|__/     |__/
*/


.mainRecover{
    display: flex;
}


.mainForm {
    width: 50%;
    height: 100vh;
    background-color: var(--primary-blue);

}

.titleForm {
    font-family: var(--Nunito);
    font-size: 2.125em;
    color: var(--primary-white);
    margin-bottom: 20px;
}

@media screen and (max-width: 750px){
    .mainRecover{
        flex-direction: column;       
    }
    .mainForm{
        width: 100%;
        height: 50vh;
    }
}

.formPassword {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.inputFormPassword {
    border:  1px solid var(--secundary-white);
    background: var(--primary-white);
    height: 32px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1em;
    line-height: 22px;
    color: var(--secundary-white);
    width: 300px;
    padding: 0 10px;
}

.buttonFormPassword {
    color: var(--primary-white);
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 5px 119px;
    font-family: var(--Nunito);
    font-size: 1em;
    font-weight: 900;
    line-height: 1.375em;
    text-transform: uppercase;
    margin-top: 20px;
}