/*
/$$   /$$  /$$$$$$  /$$   /$$
| $$  | $$ /$$$_  $$| $$  | $$
| $$  | $$| $$$$\ $$| $$  | $$
| $$$$$$$$| $$ $$ $$| $$$$$$$$
|_____  $$| $$\ $$$$|_____  $$
      | $$| $$ \ $$$      | $$
      | $$|  $$$$$$/      | $$
      |__/ \______/       |__/
*/                       
                              
::selection{
    user-select: none;
}                   

.main-404{
    background-color: var(--third-blue);
    color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    font-family: var(--Nunito);
    width: 100%;
    position: fixed;
}

.main-404 h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: center;
}

.main-404 img{
    height: 130px;
}

.main-404 p{
    font-size: 24px;
    line-height: 33px;
}

.main-404 h1, .main-404 img, .main-404 p{
    margin: 10px 0;
}

.linkto{
    margin-top: 20px;
    color: var(--primary-blue);
    text-decoration: underline var(--primary-blue);
    cursor: pointer;
}