/*
 $$$$$$\  $$$$$$\ $$$$$$$\  $$$$$$$$\ $$\      $$\ $$$$$$$$\ $$\   $$\ $$\   $$\ 
$$  __$$\ \_$$  _|$$  __$$\ $$  _____|$$$\    $$$ |$$  _____|$$$\  $$ |$$ |  $$ |
$$ /  \__|  $$ |  $$ |  $$ |$$ |      $$$$\  $$$$ |$$ |      $$$$\ $$ |$$ |  $$ |
\$$$$$$\    $$ |  $$ |  $$ |$$$$$\    $$\$$\$$ $$ |$$$$$\    $$ $$\$$ |$$ |  $$ |
 \____$$\   $$ |  $$ |  $$ |$$  __|   $$ \$$$  $$ |$$  __|   $$ \$$$$ |$$ |  $$ |
$$\   $$ |  $$ |  $$ |  $$ |$$ |      $$ |\$  /$$ |$$ |      $$ |\$$$ |$$ |  $$ |
\$$$$$$  |$$$$$$\ $$$$$$$  |$$$$$$$$\ $$ | \_/ $$ |$$$$$$$$\ $$ | \$$ |\$$$$$$  |
 \______/ \______|\_______/ \________|\__|     \__|\________|\__|  \__| \______/ 
*/

/*
$$$$$$$\   $$$$$$\   $$$$$$\  $$\   $$\ $$$$$$$\   $$$$$$\   $$$$$$\  $$$$$$$\  $$$$$$$\  
$$  __$$\ $$  __$$\ $$  __$$\ $$ |  $$ |$$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ 
$$ |  $$ |$$ /  $$ |$$ /  \__|$$ |  $$ |$$ |  $$ |$$ /  $$ |$$ /  $$ |$$ |  $$ |$$ |  $$ |
$$ |  $$ |$$$$$$$$ |\$$$$$$\  $$$$$$$$ |$$$$$$$\ |$$ |  $$ |$$$$$$$$ |$$$$$$$  |$$ |  $$ |
$$ |  $$ |$$  __$$ | \____$$\ $$  __$$ |$$  __$$\ $$ |  $$ |$$  __$$ |$$  __$$< $$ |  $$ |
$$ |  $$ |$$ |  $$ |$$\   $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |
$$$$$$$  |$$ |  $$ |\$$$$$$  |$$ |  $$ |$$$$$$$  | $$$$$$  |$$ |  $$ |$$ |  $$ |$$$$$$$  |
\_______/ \__|  \__| \______/ \__|  \__|\_______/  \______/ \__|  \__|\__|  \__|\_______/ 
*/

.mainSideMenu {
    background-color: var(--primary-black);
    min-height: 100%;
    width: 300px;
    max-width: 30%;
    position: relative;
    top: 0;
    overflow: hidden;
    transition: width .2s;
    white-space: nowrap;
}

.dashBoard {
    background: var(--primary-black);
    border: none;
    color: var(--primary-white);
    width: 100%;
    text-align: left;
    padding: 5px;
    font-size:  1em;
    line-height: 1.375em;
    transition: 0.2s;
    cursor: pointer;
    outline: none;
}

.dashBoard:hover {
    background-color: var(--secundary-blue);
    transition: 0.2s;
}

.linktoHeader{
    text-decoration: none;
    font-size: 0.875em;
    line-height: 19px;
}

.normal{
    position: absolute;
    right: 5px;
    transform: rotate(90deg);
    transition: 0.3s;
    transition-delay: 0.1s;
}

.rotate{
    transform: rotate(0deg);
    transition: 0.3s;
}
