/*
  /$$$$$$  /$$$$$$$$  /$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
 /$$__  $$| $$_____/ /$$__  $$| $$__  $$ /$$__  $$| $$  | $$
| $$  \__/| $$      | $$  \ $$| $$  \ $$| $$  \__/| $$  | $$
|  $$$$$$ | $$$$$   | $$$$$$$$| $$$$$$$/| $$      | $$$$$$$$
 \____  $$| $$__/   | $$__  $$| $$__  $$| $$      | $$__  $$
 /$$  \ $$| $$      | $$  | $$| $$  \ $$| $$    $$| $$  | $$
|  $$$$$$/| $$$$$$$$| $$  | $$| $$  | $$|  $$$$$$/| $$  | $$
 \______/ |________/|__/  |__/|__/  |__/ \______/ |__/  |__/
*/

#search{
    background: #FAFAFA;
    background-image: url(./Vector.svg);
    background-repeat: no-repeat;
    padding: 7px 40px 7px 10px;
    background-position: 94%;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px; 
    height: 32px;
    width: 100%;
    max-width: 300px;
}