/*
    SUMÁRIO 
1- Variavel
2- Container
*/




/*
  /$$$$$$  /$$$$$$$$ /$$$$$$$   /$$$$$$  /$$      
 /$$__  $$| $$_____/| $$__  $$ /$$__  $$| $$      
| $$  \__/| $$      | $$  \ $$| $$  \ $$| $$      
| $$ /$$$$| $$$$$   | $$$$$$$/| $$$$$$$$| $$      
| $$|_  $$| $$__/   | $$__  $$| $$__  $$| $$      
| $$  \ $$| $$      | $$  \ $$| $$  | $$| $$      
|  $$$$$$/| $$$$$$$$| $$  | $$| $$  | $$| $$$$$$$$
 \______/ |________/|__/  |__/|__/  |__/|________/
*/


/*
1- Variavel
 /$$    /$$  /$$$$$$  /$$$$$$$  /$$$$$$  /$$$$$$  /$$    /$$ /$$$$$$$$ /$$      
| $$   | $$ /$$__  $$| $$__  $$|_  $$_/ /$$__  $$| $$   | $$| $$_____/| $$      
| $$   | $$| $$  \ $$| $$  \ $$  | $$  | $$  \ $$| $$   | $$| $$      | $$      
|  $$ / $$/| $$$$$$$$| $$$$$$$/  | $$  | $$$$$$$$|  $$ / $$/| $$$$$   | $$      
 \  $$ $$/ | $$__  $$| $$__  $$  | $$  | $$__  $$ \  $$ $$/ | $$__/   | $$      
  \  $$$/  | $$  | $$| $$  \ $$  | $$  | $$  | $$  \  $$$/  | $$      | $$      
   \  $/   | $$  | $$| $$  | $$ /$$$$$$| $$  | $$   \  $/   | $$$$$$$$| $$$$$$$$
    \_/    |__/  |__/|__/  |__/|______/|__/  |__/    \_/    |________/|________/
*/

:root {
    --primary-blue: #285670;
    --secundary-blue: #2F6D89;
    --third-blue: #D4DDE2;
    --primary-black: #333333;
    --primary-gray:#454747;
    --secundary-gray: #5E6061;
    --third-gray: #A8ACAD;
    --primary-white: #fafafa;
    --secundary-white: #BDBDBD;
    --button-color: #E4C870;

    --Nunito:'Nunito','sans-serif';
}

/*
2- Container
  /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$  /$$$$$$  /$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$ 
 /$$__  $$ /$$__  $$| $$$ | $$|__  $$__/ /$$__  $$|_  $$_/| $$$ | $$| $$_____/| $$__  $$
| $$  \__/| $$  \ $$| $$$$| $$   | $$   | $$  \ $$  | $$  | $$$$| $$| $$      | $$  \ $$
| $$      | $$  | $$| $$ $$ $$   | $$   | $$$$$$$$  | $$  | $$ $$ $$| $$$$$   | $$$$$$$/
| $$      | $$  | $$| $$  $$$$   | $$   | $$__  $$  | $$  | $$  $$$$| $$__/   | $$__  $$
| $$    $$| $$  | $$| $$\  $$$   | $$   | $$  | $$  | $$  | $$\  $$$| $$      | $$  \ $$
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$   | $$  | $$ /$$$$$$| $$ \  $$| $$$$$$$$| $$  | $$
 \______/  \______/ |__/  \__/   |__/   |__/  |__/|______/|__/  \__/|________/|__/  |__/
*/

.container {
    max-width: 960px;
    margin: 0 auto;
}