.content {
    display: flex;
    min-height: 100vh;
}

.header-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-table p {
    font-family: var(--Nunito);
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.6875em;
}

.collum {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}


@media screen and (max-width: 750px){
    .mainSideMenu{
        width: 0;
        top: 50px;
        min-height: fit-content;
        position: absolute; 
    }
    .titleCategory{
        transition: .2s; 
    }
}

@media screen and (max-width: 750px){
    .area-header{
        justify-content: space-between;
    }
    #sideArrow{
        display: unset;
    }
    #check:checked ~ .mainSideMenu{
        width: 100vh;
        max-width: 50vw;
    }
    #check:checked ~ #sideArrow{
        transform: rotate(90deg);
        transition: .2s;
    }
}